@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylings... */
* {
  box-sizing: border-box;
}
.heading {
  @apply text-8xl font-extrabold;
}
.heading-sm {
  @apply text-7xl font-extrabold;
}
.lil-header {
  @apply text-5xl font-bold my-10;
}

.img {
  background: url("../public/assets/imgs/DejanHome.png") right no-repeat;
  background-size: contain;
}

.red {
  color: #ff0000;
}
