@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.highlight-code {
  @apply font-mono text-sky-500 dark:text-sky-400 text-[1rem];
}

/* Github Calendar */
.react-activity-calendar rect {
  outline: none !important;
}

.react-activity-calendar rect:focus {
  outline: none !important;
}

.react-activity-calendar rect:active {
  stroke: none !important;
}

/* Stack I Use */
.marquee-container {
  overflow: hidden;
  width: 100%;
  background: transparent;
}
.marquee-right {
  display: flex;
  animation: marquee 90s linear infinite;
  width: max-content;
}
.marquee-left {
  display: flex;
  animation: marquee 30s linear infinite reverse;
  width: max-content;
}
.marquee-left:hover,
.marquee-right:hover {
  animation-play-state: paused;
  cursor: grab;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* hide scrollbar  */
::-webkit-scrollbar {
  display: none;
}
